.sign-in-button {
  font-size: 18px;
  border: none;
  background-color: palevioletred;
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-family: "Lato", sans-serif;
  transition: 500ms;

  &.sign-in-button:hover {
    background-color: #d26f8e;
    transition: 500ms;
  }
}
