.header-container {
  padding: 10px;
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid rgba(97, 119, 119, 0.103);

  .logotext {
    float: left;
    font-family: "Lobster Two", cursive;
    padding: 5px;
    color: #61b0d4;
  }
}
